<header class="d-flex justify-content-between align-items-center p-0">
    <div class="d-flex align-items-center">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
     <a [routerLink]="['/Dashboard']" class="d-flex align-items-center">
        <img
          src="https://img2.freepnges.com/20231028/pop/transparent-lotus-flower-1711043233823.webp"
          alt="Logo"
          id="logo"
          class="img-fluid"
        />
      </a>
      <span class="header-title ms-2">AdminPay</span>
    </div>
    <div>
      <button class="btn btn-outline-secondary" (click)="logout()">Cerrar Sesión</button>
    </div>
  </header>
  