.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
    color: #000;
    height: 100vh;
  }
  h2 {
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .sidebar {
    padding: 20px;
    border-right: 1px solid #ddd;
  }
  
  .sidebar .list-group-item a {
    color: black;
  }
  
  .sidebar .list-group-item a:hover {
    text-decoration: none;
    color: #007bff; 
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }



  .content {
    padding: 20px;
  }
  
  .icon-box {
    text-align: center;
    border: 1px solid #849cb4; 
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f9fa; 
    transition: transform 0.2s;
  }
  
  .icon-box:hover {
    transform: scale(1.05); 
  }
  
  .icon-box p {
    margin-top: 10px; 
    color: #212529; 
  }
  
  .language-selector {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  
  .language-selector .btn {
    border-radius: 50%; 
    width: 50px;
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; 
    background: transparent; 
  }
  
  .flag-icon {
    width: 30px; 
    height: auto; 
  }


  .form-label {
    color: rgb(17, 15, 15);
    margin-bottom: 0.5rem; 
    font-weight: bold; 
  }



  
  